<div id="infocontainer" fxLayout="column" fxLayoutGap="2px">
	<div class="headingdiv">
		<h1 fxLayoutAlign="center center">{{title}}</h1>
	</div>

	<div class="contentdiv" fxLayoutAlign="start start" fxLayout="column">
		
			<div>
			<h1>PREVENTION TECHNIQUES</h1>

			
			<ul>
				<li>Primary prevention aims to prevent disease or injury before it ever occurs</li>

				<li>Secondary prevention aims to reduce impact of a disease or injury that has already occurred</li>
				</ul>
			</div>

			
			<div>
				<p>
					<em>Disease: Flu</em>
					<li>Primary Prevention:</li> 
					<li>Get immunized</li>
					<li>Wash hands to prevent spread</li>
					<li>Cover mouth and nose when sneezing or coughing</li>
					<li>Keep surroundings clean</li>
					<br>
					<em>Secondary Prevention</em>
					<li>Antiviral drugs to cure</li>
					<li>Follow doctor’s instruction</li> 
					<li>HIV/AIDS</li>
					<br>
					<em>Primary Prevention:</em>
					<li>Don’t use unclean needles or unscreened blood</li>
					<li>Protected sex with usage of male or female condom</li>
					<br>
					<em>Secondary Prevention:</em>
					<li>Anti-retroviral regimens</li>
				</p> 

			</div>
	
	</div>
</div>