<div>
	<div fxLayoutAlign="center center" id="floating-panel">
	      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
	      <button onclick="changeGradient()">Change gradient</button>
	      <button onclick="changeRadius()">Change radius</button>
	      <button onclick="changeOpacity()">Change opacity</button>
	</div>
	<div id="map" fxLayoutAlign="center center"  style="height:700px; width:1386px;">
		<iframe src="https://kodewilliams.github.io/hottake-client" style="height:700px; width:1386px;"></iframe>
	</div>
</div>
