<div id="bgcontainer" fxLayout="column" fxLayoutGap="2px">
	<div class="headingdiv">
		<h1 fxLayoutAlign="center center">{{title}}</h1>
	</div>

	<div class="contentdiv" fxLayoutAlign="start start" fxLayout="column">
		<h1>Background</h1>

		<p style="font-size: 18px; font-weight: 300;">“Hot Take” was created with the goal of putting together information in such a way that users can understand the status of healthcare in their community. Specifically designed to highlight where communities may be lacking in proper healthcare, the hope is that citizens will use that knowledge to understand what their area needs and then communicate that to local government. It serves a dual purpose, as it also acts as a comprehensive source of regional health situations, so that local healthcare organizations can then understand what kind of care the community needs and work to responsibly allocate resources to address area specific needs shown in the map. “Hot Take” promotes the idea of accountability, from the government, healthcare institutions, as well as individuals, so that all may understand their local area and how to improve it.</p>

		<h1>Methodology:</h1>

		<p style="font-size: 18px; font-weight: 300;">The function of the filters are to take information about local healthcare that acts as an indicator to the quality of care provided in a given location. Data collected for each indicator has been normalized to a ranking scale of 0-5; 0 being the worst possible scoring, 5 being the best possible scoring. Some areas will not have data available, so data then will not be scored. The rankings are to aid the user in understanding how their area compares to others.</p>
	</div>
</div>